// -----------------------------------------------------------------------------
// Header style
// -----------------------------------------------------------------------------
$red: #ff0;
$white: #fff;
#header {
    background-color: $red;
    color: $white;
}