// -----------------------------------------------------------------------------
// Button style
// -----------------------------------------------------------------------------
button {
    @include button;
}
.btn {
    background-color: $bg-color-blue;
    border-radius: $bdr-radius;
    color: $color-white;
    font-size: $fontsize-s;
    height: $x40;
    padding: $x-20;
    text-align: center;
    &:hover {
        background-color: $btn-bg-hover;
    }
}