// -----------------------------------------------------------------------------
// Basic styles.
// -----------------------------------------------------------------------------
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    color: $link-color;
    @include hover {
        color: $link-color-hover;
        transition: $transition-color;
    }
}
body {
    background-color: #f5f7fb;
    color: $text-color;
    font: {
        size: $fontsize-defaul;
        family: $font-default;
    }
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}