// -----------------------------------------------------------------------------
// Reset styles.
// -----------------------------------------------------------------------------
html {
    overflow-x:hidden;
}
body {
    overflow-x:hidden;
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
    word-wrap:break-word;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas {
    margin:0;
    padding:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, menu { display:block; }
audio:not([controls]) {
    display:none;
    height:0;
}
[hidden] { display:none; }
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset, img { border:none; }
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal;
    font-weight:normal;
}
ul, ol, menu { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:normal;
}
q:before, q:after { content:''; }
abbr, acronym {
    border:none;
    font-variant:normal;
}
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input, textarea, select {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
}
legend { color:#000; }
a img, map a { border:none; }
a { text-decoration: none; }
a:hover, a:active, a:focus { outline:0; text-decoration: none; }
embed { width:100%; }
audio, canvas, video { display:inline-block; }
audio:not([controls]) {
    display:none;
    height:0;
}
img, object, embed {
    max-width:100%;
    height:auto;
}
object, embed { height:100%; }
img {
    -ms-interpolation-mode:bicubic;
}