@charset "UTF-8";
// -----------------------------------------------------------------------------
// Variables.
// -----------------------------------------------------------------------------

// Regular font family
$font-default: "Helvetica Neue",Helvetica,Arial,sans-serif !default;

// Text color
$color-default: #222317 !default;
$color-secondary: lighten($color-default, 10%) !default;
$color-third: lighten($color-default, 20%) !default;

// All other color
$color-success: #7be0eb !default;
$color-warning: yellow !default;
$color-error: #e5004f !default;
$color-black: #000 !default;
$color-white: #FFF !default;

// Link color
$link-color: #1a5eba !default;
$link-color-hover: lighten($link-color, 20%) !default;

// Shadow color
$shadow-color: #dfdddf !default;

//line
$bg-color-blue: #16b1ec;

//border
$bdr-solid-1: 1px solid #d9dadb;
$bdr-radius: 4px;

//button
$btn-bg: #16b1ec;
$btn-bg-hover: #0599d2;

$btn-bg2: #dde6fb;
$btn-bg2-hover: #7ca3f9;
$btn-color2: #1a5eba;
$btn-color2-hover: #fff;

$btn-bg3: #f78286;
$btn-bg3-hover: #ff656b;

//box section
$box-color: #fff;
$box-margin-b: 30px;
$box-padding: 30px;
$box-radius: 6px;

// Container's maximum width
$max-width: 1180px !default;
$width-calc20: calc(100% - 20px);

// Section spacing
$section-spacing: 30px;
$section-spacing-sp: 20px;

// Font size
$fontsize-defaul: 16px;
$fontsize-b: 40px;
$fontsize-m: 20px;
$fontsize-s: 13px;

// px
$x5: 5px;
$x10: 10px;
$x20: 20px;
$x30: 30px;
$x40: 40px;

//top-bottom right-left
$x-10: 0 10px;
$x-20: 0 20px;
$x-center: 0 auto;

// %
$x100p: 100%;

// Breakpoints
$grid-breakpoints: (
    xs: 320px,
    sm: 480px,
    sp: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1200px
) !default;

// Relative or absolute URL
$base-url: '/img/' !default;

//Transition
$transition-duration: .3s !default;
$transition-all: $transition-duration all ease-out !default;
$transition-color: $transition-duration color !default;
$transition-background: $transition-duration background !default;
$transition-opacity: $transition-duration opacity !default;